﻿@model CostForm
@{
    ViewData["Title"] = "Editace výdaje";
    int count = 1;
    string trStyle = "";
}

@using (Html.BeginForm())
{
<div class="content">
    <div class="row top-row">
        <div class="container">
        <div class="col-sm">
            @if (ViewBag.CostId == null)
            {
                <h2>Nový výdaj</h2>
            }
            else
            {
                <h2>Úprava výdaje</h2>
            }
        </div>
        <div class="col-sm" style="position:relative">
             <a href="/costs" style="position:absolute;right:5em;top:-2.5em;" class="btn btn-outline-secondary">Zpět</a>
            <input style="position:absolute;right:0;top:-2.5em;" name="save" type="submit" class="btn btn-outline-primary" value="Uložit"/>
        </div>
        </div>
    </div>
    <div class="container">
        @if (ViewData.ContainsKey("success"))
        {
            <div class="alert alert-success" role="alert">
            @ViewData["Success"]
            </div>
        }
        @if (ViewData.ContainsKey("Error"))
        {
            <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
            </div>
        }
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    @Html.LabelFor(x => x.SupplierId, new { @class="form-label"})
                    @Html.DropDownListFor(x => x.SupplierId, (IEnumerable<SelectListItem>)ViewBag.Suppliers, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.SupplierId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CostNum, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.CostNum, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.CostNum)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.OriginalNum, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.OriginalNum, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.OriginalNum)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Type, new { @class="form-label"})
                    @Html.DropDownListFor(x => x.Type, (IEnumerable<SelectListItem>)ViewBag.Types, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Type)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Note, new { @class="form-label"})
                    @Html.TextAreaFor(x => x.Note, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Note)
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    @Html.LabelFor(x => x.CreatedTime, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.CreatedTime, "{0:yyyy-MM-dd}", new { @class="form-control", type = "date" })
                    @Html.ValidationMessageFor(x => x.CreatedTime)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PayTillTime, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.PayTillTime, "{0:yyyy-MM-dd}", new { @class="form-control", type = "date" })
                    @Html.ValidationMessageFor(x => x.PayTillTime)
                </div>
                <div class="form-group" style="position:relative">
                    @Html.LabelFor(x => x.PriceWithoutTax, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.PriceWithoutTax, new { @class="form-control"})
                    <span style="position:absolute;top:2.4em;right:1em;">Kč</span>
                    @Html.ValidationMessageFor(x => x.PriceWithoutTax)
                </div>
                <div class="form-group" style="position:relative">
                    @Html.LabelFor(x => x.Price, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.Price, new { @class="form-control"})
                    <span style="position:absolute;top:2.4em;right:1em;">Kč</span>
                    @Html.ValidationMessageFor(x => x.Price)
                </div>
            </div>
        </div>
        </div>
</div>
}