﻿@{
    ViewData["Title"] = "Výdaje";
    int count = 1;
}

<div class="content">
    <div class="row top-row">
        <div class="container">
        <div class="col-sm">
            <h2 style="margin: 0;">Výdaje</h2>              
        </div>
        <div class="col-sm" style="position:relative">
            <a href="/costs/edit/" style="position:absolute;right:0;top:-2.5em;" class="btn btn-outline-secondary">Přidat výdaj</a>
        </div>
    </div>
    </div>
    <div class="container">
    @if (ViewData.ContainsKey("Success"))
    {
        <div class="alert alert-success" role="alert">
        @ViewData["Success"]
        </div>
    }
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
        </div>
    }
    <table class="table" style="width:calc(100% + 15px);">
           <thead>
               <tr>
                <td scope="col"></td>
                <td scope="col">Číslo</td>
                <td scope="col">Přijato</td>
                <td scope="col">Splatnost</td>
                <td scope="col">Dodavatel</td>
                <td scope="col">Celkem bez DPH</td>
                <td scope="col">Celkem</td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
           </thead>
        <tbody>
            @foreach (var cost in ViewBag.Costs)
            {
                <tr>
                    <td>@count</td>
                    <td>@cost.CostNum</td>
                    <td>@String.Format("{0:dd.MM.yyyy}", cost.CreatedTime)</td>
                    <td>@String.Format("{0:dd.MM.yyyy}", cost.PayTillTime)</td>
                    <td style="white-space:nowrap;max-width:100%;overflow:hidden;text-overflow: ellipsis;">
                        @cost.Supplier.Name<br>
                        <span style="font-size:0.85em">@cost.Supplier.Address</span>
                    </td>
                    <td>@cost.PriceWithoutTax Kč</td>
                     <td>@cost.Price Kč</td>
                    <td style="text-align:right;width:3em;">
                        <a href="/costs/edit/@cost.Id" class="btn btn-outline-secondary">Upravit</a>
                    </td>
                    <td style="text-align:right;width:3em;">
                        <form method="post">
                            <button type="submit" name="deleteCost" class="btn btn-outline-danger" value="@cost.Id">&#x2715</button>
                        </form>
                    </td>
                </tr>
                {
                    count++;
                }
            }
        </tbody>
    </table>
    </div>
</div>