﻿@model InvoiceForm
@{
    ViewData["Title"] = "Editace faktury";
    int count = 1;
    string trStyle = "";
}

@using (Html.BeginForm())
{
<div class="content">
    <div class="row top-row">
        <div class="container">
        <div class="col-sm">
            @if (ViewBag.InvoiceId == null)
            {
                <h2>Nová faktura</h2>
            }
            else
            {
                <h2>Úprava faktury</h2>
            }
        </div>
        <div class="col-sm" style="position:relative">
             <a href="/invoices" style="position:absolute;right:5em;top:-2.5em;" class="btn btn-outline-secondary">Zpět</a>
            <input style="position:absolute;right:0;top:-2.5em;" name="save" type="submit" class="btn btn-outline-primary" value="Uložit"/>
        </div>
        </div>
    </div>
    <div class="container">
        @if (ViewData.ContainsKey("success"))
        {
            <div class="alert alert-success" role="alert">
            @ViewData["Success"]
            </div>
        }
        @if (ViewData.ContainsKey("Error"))
        {
            <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
            </div>
        }
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(x => x.SubscriberId, new { @class="form-label"})
                    @Html.DropDownListFor(x => x.SubscriberId, (IEnumerable<SelectListItem>)ViewBag.Subscribers, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.SubscriberId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.InvoiceNum, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.InvoiceNum, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.InvoiceNum)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PaymentType, new { @class="form-label"})
                    @Html.DropDownListFor(x => x.PaymentType, (IEnumerable<SelectListItem>)ViewBag.PaymentTypes, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.PaymentType)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.CreatedTime, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.CreatedTime, "{0:yyyy-MM-dd}", new { @class="form-control", type = "date" })
                    @Html.ValidationMessageFor(x => x.CreatedTime)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PayTillTime, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.PayTillTime, "{0:yyyy-MM-dd}", new { @class="form-control", type = "date" })
                    @Html.ValidationMessageFor(x => x.PayTillTime)
                </div>
                <div class="form-group" style="position:relative">
                    @Html.LabelFor(x => x.TotalPriceWithoutTax, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.TotalPriceWithoutTax, new { @class="form-control", @readonly="readonly"})
                    <span style="position:absolute;top:2.4em;right:1em;">Kč</span>
                    @Html.ValidationMessageFor(x => x.TotalPriceWithoutTax)
                </div>
                <div class="form-group" style="position:relative">
                    @Html.LabelFor(x => x.TotalPrice, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.TotalPrice, new { @class="form-control", @readonly="readonly"})
                    <span style="position:absolute;top:2.4em;right:1em;">Kč</span>
                    @Html.ValidationMessageFor(x => x.TotalPrice)
                </div>
                <div class="form-group" style="position:relative">
                    @Html.LabelFor(x => x.TotalPaidPrice, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.TotalPaidPrice, new { @class="form-control"})
                    <span style="position:absolute;top:2.4em;right:1em;">Kč</span>
                    @Html.ValidationMessageFor(x => x.TotalPaidPrice)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Note, new { @class="form-label"})
                    @Html.TextAreaFor(x => x.Note, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Note)
                </div>
            </div>
            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Název</th>
                            <th>Počet</th>
                            <th>MJ</th>
                            <th>% DPH</th>
                            <th>Cena</th>
                        </tr>
                    </thead>

                <tbody>
                @for(int i = 0; i < Model.Items.Count; i++)
                {
                    {
                        trStyle = Model.Items[i].Deleted ? "display:none" : "";
                    }
                    <tr style="@trStyle"> 
                        <td style="display:none">
                            @Html.TextBoxFor(x => x.Items[i].Id, new { @class="form-control"})
                        </td>
                        <td style="display:none">
                            @Html.CheckBoxFor(x => x.Items[i].Deleted, new { @class="form-control"})
                        </td>
                        <td class="col-md-4">
                            @Html.TextBoxFor(x => x.Items[i].Name, new { @class="form-control"})
                            @Html.ValidationMessageFor(x => x.Items[i].Name)
                        </td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(x => x.Items[i].Quantity, new { @class="form-control"})
                            @Html.ValidationMessageFor(x => x.Items[i].Quantity)
                        </td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(x => x.Items[i].Unit, new { @class="form-control"})
                            @Html.ValidationMessageFor(x => x.Items[i].Unit)
                        </td>
                        <td class="col-md-2">
                            @Html.TextBoxFor(x => x.Items[i].TaxPercentageRate, new { @class="form-control"})
                            @Html.ValidationMessageFor(x => x.Items[i].TaxPercentageRate)
                        </td>
                        <td class="col-md-2" style="position:relative">
                            @Html.TextBoxFor(x => x.Items[i].Price, new { @class="form-control", @style="padding-right:20px;"})
                            <span style="position:absolute;top:1.15em;right:1.5em;">Kč</span>
                        </td>
                        <td class="col-md-2">
                            <button value="@i" name="deleteInvoiceItem" class="btn btn-outline-danger" type="submit">&#x2715</button>
                        </td>
                    </tr>
                }
                </tbody>
                </table>
                <div class="row" style="position:relative;margin-right: 15px">
                    <input style="position:absolute;right:0;" type="submit" name="addInvoiceItem" class="btn btn-outline-primary" value="Přidat položku"/>
                </div>
            </div>
        </div>
        </div>
</div>
}
