﻿@{
    ViewData["Title"] = "Faktury";
    int count = 1;
}

<div class="content">
     <div class="row top-row">
        <div class="container">
        <div class="col-sm">
            <h2 style="margin: 0;">Faktury</h2>              
        </div>
        <div class="col-sm" style="position:relative">
            <a href="/invoices/edit/" style="position:absolute;right:0;top:-2.5em;" class="btn btn-outline-secondary">Přidat fakturu</a>
        </div>
        </div>
    </div>
    <div class="container">
    @if (ViewData.ContainsKey("Success"))
    {
        <div class="alert alert-success" role="alert">
        @ViewData["Success"]
        </div>
    }
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
        </div>
    }
    <table class="table" style="width:calc(100% + 15px);">
           <thead>
               <tr>
                <td scope="col"></td>
                <td scope="col">Číslo</td>
                <td scope="col">Vystavena</td>
                <td scope="col">Splatnost</td>
                <td scope="col">Odběratel</td>
                <td scope="col">Stav</td>
                <td scope="col">Celkem bez DPH</td>
                <td scope="col">Celkem</td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
           </thead>
        <tbody>
            @foreach (var invoice in ViewBag.Invoices)
            {
                <tr>
                    <td>@count</td>
                    <td>@invoice.InvoiceNum</td>
                    <td>@String.Format("{0:dd.MM.yyyy}", invoice.CreatedTime)</td>
                    <td>@String.Format("{0:dd.MM.yyyy}", invoice.PayTillTime)</td>
                    <td style="white-space:nowrap;max-width:100%;overflow:hidden;text-overflow: ellipsis;">
                        @invoice.Subscriber.Name<br>
                        <span style="font-size:0.85em">@invoice.Subscriber.Address</span>
                    </td>
                    <td>@invoice.IsPaidString</td>
                    <td>@invoice.TotalPriceWithoutTax Kč</td>
                     <td>@invoice.TotalPrice Kč</td>
                    <td style="text-align:right;width:3em;">
                        <a href="/invoices/edit/@invoice.Id" class="btn btn-outline-secondary">Upravit</a>
                    </td>
                    <td style="text-align:right;width:3em;">
                        <form method="post">
                            <button type="submit" name="deleteInvoice" class="btn btn-outline-danger" value="@invoice.Id">&#x2715</button>
                        </form>
                    </td>
                </tr>
                {
                    count++;
                }
            }
        </tbody>
    </table>
    </div>
</div>