﻿@using Microsoft.AspNetCore.Http

@model UserForm
@{
    ViewData["Title"] = "Editace uživatele";
    int count = 1;
}

@using (Html.BeginForm())
{
<div class="content">
    <div class="row top-row">
        <div class="container">
        <div class="col-sm">
            @if (ViewBag.UserId == null)
            {
                <h2>Nový uživatel</h2>
            }
            else
            {
                <h2>Úprava uživatele</h2>
            }
        </div>
        <div class="col-sm" style="position:relative">
            @if (Context.Session.GetInt32("userId") != ViewBag.UserId)
                {
                    <a href="/users" style="position:absolute;right:5em;top:-2.5em;" class="btn btn-outline-secondary">Zpět</a>
                }
             <input style="position:absolute;right:0;top:-2.5em;" name="save" type="submit" class="btn btn-outline-primary" value="Uložit"/>
        </div>
        </div>
    </div>
     <div class="container">
        @if (ViewData.ContainsKey("success"))
        {
            <div class="alert alert-success" role="alert">
            @ViewData["Success"]
            </div>
        }
        @if (ViewData.ContainsKey("Error"))
        {
            <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
            </div>
        }
        <div class="row">
            <div class="col-md">
                @if (Context.Session.GetInt32("userId") != ViewBag.UserId)
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Permission, new { @class="form-label"})
                        @Html.DropDownListFor(x => x.Permission, (IEnumerable<SelectListItem>)ViewBag.Permissions, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Permission)
                    </div>
                }
                @if (ViewBag.UserId == null)
                {
                    <div class="form-group">
                    @Html.LabelFor(x => x.Username, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.Username, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.Username)
                    </div>
                }
                else
                {
                    <div class="form-group">
                    @Html.LabelFor(x => x.Username, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.Username, new { @class="form-control", @readonly="readonly"})
                    @Html.ValidationMessageFor(x => x.Username)
                    </div> 
                }

                
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.Password, new { @class="form-control", @type="password"})
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.PasswordAgain, new { @class="form-label"})
                    @Html.TextBoxFor(x => x.PasswordAgain, new { @class="form-control", @type="password"})
                    @Html.ValidationMessageFor(x => x.PasswordAgain)
                </div>
            </div>
        </div>
        </div>
</div>
}