﻿@{
    ViewData["Title"] = "Uživatelé";
    int count = 1;
}

<div class="content">

    <div class="row top-row">
        <div class="container">
            <div class="col-sm">
                <h2 style="margin: 0;">Uživatelé</h2>              
            </div>
            <div class="col-sm" style="position:relative">
                <a href="/users/edit/" style="position:absolute;right:0;top:-2.5em;" class="btn btn-outline-secondary">Přidat uživatele</a>
            </div>
        </div>
    </div>
    <div class="container">
    @if (ViewData.ContainsKey("Success"))
    {
        <div class="alert alert-success" role="alert">
        @ViewData["Success"]
        </div>
    }
    @if (ViewData.ContainsKey("Error"))
    {
        <div class="alert alert-danger" role="alert">
        @ViewData["Error"]
        </div>
    }
    <table class="table" style="width:calc(100% + 15px);">
           <thead>
               <tr>
                <td scope="col"></td>
                <td scope="col">Uživatelské jméno</td>
                <td scope="col">Oprávnění</td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
           </thead>
        <tbody>
            @foreach (var user in ViewBag.Users)
            {
                <tr>
                    <td>@count</td>
                    <td>@user.Username</td>
                    <td>@user.PermissionString</td>
                    <td style="text-align:right;width:3em;">
                        <a href="/users/edit/@user.Id" class="btn btn-outline-secondary">Upravit</a>
                    </td>
                    @if(ViewBag.UserId != @user.Id)
                    {
                        <td style="text-align:right;width:3em;">
                            <form method="post">
                                <button type="submit" name="deleteUser" class="btn btn-outline-danger" value="@user.Id">&#x2715</button>
                            </form>
                        </td>
                    }
                </tr>
                {
                    count++;
                }
            }
        </tbody>
    </table>
    </div>
</div>