﻿@model LoginForm
@{
    ViewData["Title"] = "Přihlášení";
}
<main class="form-signin" style="margin: 4em auto">
    <div class="text-center">
        @using (Html.BeginForm())
        {
            <h1 class="h3 mb-3 fw-normal">Přihlášení</h1>
            @if(!ViewData.ModelState.IsValid) {
            <div class="errors alert alert-danger" role="alert">
                @Html.ValidationMessageFor(x => x.Username, "", new { @style="display:block"})
                @Html.ValidationMessageFor(x => x.Password, "", new { @style="display:block"})
            </div>
            }
            @if (ViewData.ContainsKey("Success"))
            {
                <div class="alert alert-success" role="alert">
                @ViewData["Success"]
                </div>
            }

            <div class="form-floating">
                @Html.TextBoxFor(x => x.Username, new { @class= "form-control", @placeholder=@Html.DisplayNameFor(x => x.Username), @style="padding:1.5em" })
            </div>
            <div class="form-floating">
                @Html.TextBoxFor(x => x.Password, new { @type="password", @class= "form-control", @placeholder=@Html.DisplayNameFor(x => x.Password), @style="padding:1.5em" })
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Přihlásit se</button>
        }
    </div>
    <div class="text-center" style="margin-top:2em">
        <p>
            Administrátor: demo / demo<br />
            Uživatel: user / user
        </p>
    </div>
</div>
