﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
   <div class="row top-row">
        <div class="container">
            <div class="col-sm">
                <h2>Nástěnka</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-sm">
                <h4>Vítejte v programu Fakturo</h4>
                <p>pro jednoduchou daňovou evidenci OSVČ.</p>
                <p>V navigaci výše naleznete prokliky na všechny důležité části tohoto programu.</p>
            </div>
        </div>
    </div>
</div>
