﻿@using Microsoft.AspNetCore.Http

@model ContactForm
@{
    ViewData["Title"] = "Editace kontaktu";
    int count = 1;
}

@using (Html.BeginForm())
{
<div class="content">
    <div class="row top-row">
        <div class="container">
            <div class="col-sm">
                @if (ViewBag.ContactId == null)
                {
                    <h2>Nový kontakt</h2>
                }
                else
                {
                    <h2>Úprava kontaktu</h2>
                }
            </div>
            <div class="col-sm" style="position:relative">
                 <a href="/contacts" style="position:absolute;right:5em;top:-2.5em;" class="btn btn-outline-secondary">Zpět</a>
                <input style="position:absolute;right:0;top:-2.5em;" type="submit" class="btn btn-outline-primary" value="Uložit"/>
            </div>
        </div>
    </div>
    <div class="container">
        @if (ViewData.ContainsKey("Success"))
        {
            <div class="alert alert-success" role="alert">
            @ViewData["Success"]
            </div>
        }
        @if (ViewData.ContainsKey("Error"))
        {
            <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
            </div>
        }
            <div class="row">
                <div class="col-sm">
                @if (Model.Id != Context.Session.GetInt32("userContactId"))
                {
                    <div class="form-group">
                        @Html.LabelFor(x => x.Type, new { @class="form-label"})
                        @Html.DropDownListFor(x => x.Type, (IEnumerable<SelectListItem>)ViewBag.ContactType, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Type)
                    </div>
                }
                <div class="form-group">
                    <div class="form-check">
                    @Html.CheckBoxFor(x => x.IsPersonal, new { @class="form-check-input", @onChange="onChange(this)"})
                    @Html.LabelFor(x => x.IsPersonal, new { @class="form-check-label"})
                    </div>
                        @Html.ValidationMessageFor(x => x.IsPersonal)
                </div>
                
                <div class="form-group" id="company">
                        @Html.LabelFor(x => x.Company, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.Company, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Company)
                </div>
                <div class="form-group" id="firstname">
                        @Html.LabelFor(x => x.FirstName, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.FirstName, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.FirstName)
                </div>
                <div class="form-group" id="lastname">
                        @Html.LabelFor(x => x.LastName, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.LastName, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.LastName)
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.Ic, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.Ic, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Ic)
                </div>
                <div class="form-group">
                    
                        @Html.LabelFor(x => x.Dic, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.Dic, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Dic)
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.Email, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Email)
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.Phone, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.Phone, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Phone)
                    
                </div>
                </div>
                <div class="col-sm">
                <div class="form-group">
                        @Html.LabelFor(x => x.Street, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.Street, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Street)
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.StreetNo, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.StreetNo, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.StreetNo)
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.PostalCode, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.PostalCode, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.PostalCode)
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.City, new { @class="form-label"})
                        @Html.TextBoxFor(x => x.City, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.City)
                    
                </div>
                <div class="form-group">
                        @Html.LabelFor(x => x.CountryCode, new { @class="form-label"})
                        @Html.DropDownListFor(x => x.CountryCode, (IEnumerable<SelectListItem>)ViewBag.CountryCodes, new { @class="form-control"})
                        @Html.ValidationMessageFor(x => x.CountryCode)
                    
                </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function hide(value){
        if(value){
            document.getElementById("company").style.display = 'none';
            document.getElementById("firstname").style.display = 'block';
            document.getElementById("lastname").style.display = 'block';
        }else{
            document.getElementById("company").style.display = 'block';
            document.getElementById("firstname").style.display = 'none';
            document.getElementById("lastname").style.display = 'none';
        }
    }
    function onChange(element)
    {
        hide(element.checked);
    }
    hide(@ViewBag.IsPersonal);
</script>