﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Kontakty";
    int count = 1;
}

<div class="content">
    <div class="row top-row">
        <div class="container">
        <div class="col-sm">
            <h2 style="margin: 0;">Kontakty</h2>              
        </div>
        <div class="col-sm" style="position:relative">
            <a href="/contacts/edit/@ViewBag.UserContactId" style="position:absolute;right:9em;top:-2.5em;" class="btn btn-outline-secondary">Můj kontakt</a>
            <a href="/contacts/edit/" style="position:absolute;right:0;top:-2.5em;" class="btn btn-outline-secondary">Přidat kontakt</a>
        </div>
        </div>
    </div>
    <div class="container">
        @if (ViewData.ContainsKey("Success"))
        {
            <div class="alert alert-success" role="alert">
            @ViewData["Success"]
            </div>
        }
        @if (ViewData.ContainsKey("Error"))
        {
            <div class="alert alert-danger" role="alert">
            @ViewData["Error"]
            </div>
        }

    <table class="table" style="width:calc(100% + 15px);">
           <thead>
               <tr>
                <td scope="col"></td>
                <td scope="col">Název</td>
                <td scope="col">Adresa</td>
                <td scope="col">Dodavatel</td>
                <td scope="col">Odběratel</td>
                <td scope="col"></td>
                <td scope="col"></td>
            </tr>
           </thead>
        <tbody>
            @foreach (var contact in ViewBag.Contacts)
            {
                 @if (contact.Id != Context.Session.GetInt32("userContactId"))
                {
                    <tr>
                        <td>@count</td>
                        <td>@contact.Name</td>
                        <td>@contact.Address</td>
                        @if (contact.IsSupplier)
                        {
                           <td>Ano</td>
                        }
                        else
                        {
                            <td>Ne</td>
                        }
                        @if (contact.IsSubscriber)
                        {
                           <td>Ano</td>
                        }
                        else
                        {
                            <td>Ne</td>
                        }
                        <td style="text-align:right;width:3em;">
                            <a href="/contacts/edit/@contact.Id" class="btn btn-outline-secondary">Upravit</a>
                        </td>
                        <td style="text-align:right;width:3em;">
                            <form method="post">
                                <button type="submit" name="deleteContact" class="btn btn-outline-danger" value="@contact.Id">&#x2715</button>
                            </form>
                        </td>
                    </tr>
                    {
                        count++;
                    }
                }
            }
        </tbody>
    </table>
    </div>
</div>