﻿@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fakturo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" a href="#">Fakturo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.Session.GetInt32("loggedIn") == 1)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1" style="position:relative;">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="dashboard" asp-action="Index">Nástěnka</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="contacts" asp-action="Index">Kontakty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="invoices" asp-action="Index">Faktury</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="costs" asp-action="Index">Výdaje</a>
                            </li>
                            @if (Context.Session.GetInt32("permission") == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="users" asp-action="Index">Uživatelé</a>
                                </li>
                            }
                            <li class="nav-item float-right" style="position:absolute;right:-15px;">
                              
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Context.Session.GetString("username")
                              </button>
                              <div class="dropdown-menu dropdown-menu-dark">
                                <a class="dropdown-item" href="/users/edit/@Context.Session.GetInt32("userId")">Nastavení účtu</a>
                                <div class="dropdown-divider"></div>
                                <form method="post" action="/login/logout">
                                    <input type="submit" class="dropdown-item" value="Odhlásit se"/>
                                </form>
                              </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div style="min-height:78vh;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position:relative;margin:2em 0 0 0">
        <div class="container" style="text-align:center;">
            &copy; 2022 - Fakturo
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
